/* Styles généraux (avec reset CSS simple) */
* {margin:0; padding:0; font-size:1em; box-sizing:border-box;}
body {transition:background-color 4s ease; background:linear-gradient(70deg,#FC9DAB,#C586D9,#A5A1F0,#86BAD9,#9DFADB); background-size:auto; background-size:500% 250%; animation:degradeFond 30s ease infinite;}
@keyframes degradeFond {
	0% {background-position:0 50%;}
	50% {background-position:50% 50%;}
	100% {background-position:0 50%;}
}
